<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{'/CSS/bootstrap.css'}">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <b><a class="navbar-brand text-white" th:href="@{'/'}">Trello.com</a></b>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-info" aria-current="page" href="#">All Folders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-info" aria-current="page" href="#">Categories</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div layout:fragment="mainContent">

</div>
<script rel="stylesheet" type="text/javascript" th:src="@{'/js/bootstrap.js'}"></script>
</body>
</html>